---
layout: page-layout.njk
title: 'About the 2012 Event'
meta_title: 'Vermont Code Camp 4 :: 2012'
meta_description: The 4th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
    </header>
    <article>

        <div class="meta">
            <abbr title="September 22, 2012, 8:00am - 6:00pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">22</span> 
                <span class="time">8:00AM-6:00PM</span>
            </abbr> 
            <abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">
                <span class="building">Kalkin Hall</span> 
                <span class="place">UVM Campus</span>
                <span class="address">55 Colchester Ave</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>

        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. There are <a href="/schedule" title="2012 Schedule" class="highlight">sessions on a variety of software topics</a> including programming, databases, web, business and more.</p>

        <p><strong><a href="http://www.meetup.com/VTCode/events/73188252/">Event Page on Meetup</a></strong></p>

    </article>

     <article class="sponsors">
            <h1>Gold Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.uvm.edu/business/" class="logo the-university-of-vermont">UVM</a> <a href="http://www.uvm.edu/business/">School of Business Administration</a></li>
                <li><a href="http://foundline.com/?utm_source=vtcodecamp&amp;utm_medium=credit&amp;utm_content=textlink&amp;utm_campaign=vtcodecamp"><span class="logo found-line">Found Line</span></a></li>
                <li><a href="http://www.mywebgrocer.com/"><span class="logo mywebgrocer">MyWebGrocer</span></a></li>
                <li><a href="http://www.gmcr.com/"><span class="logo green-mountain-coffee-roasters">Green Mountain Coffee Roasters</span></a></li>
                <li><a href="http://www.techjamvt.com/" class="logo vermont-tech-jam">Vermont Tech Jam</a></li>
                <li><a href="http://www.champlain.edu/" class="logo champlain-college">Champlain College</a> <a href="http://www.champlain.edu/">Division of Information Technology &amp; Sciences</a></li>
                <li><a href="http://www.apprenda.com/"><span class="logo apprenda">Apprenda</span></a></li>
                <li><a href="http://www.jetbrains.com/"><span class="logo jetbrains">JetBrains</span></a></li>
                <li><a href="http://www.telerik.com/" class="logo telerik">Telerik</a></li>
                <li><a href="http://www.pluralsight-training.net/microsoft"><span class="logo pluralsight">Pluralsight</span></a></li>
                <li><a href="http://www.gibraltarsoftware.com/Default.aspx?utm_source=VTCodeCamp&utm_medium=Logo&utm_campaign=CommunityEvent"><span class="logo gibraltar-software">Gibraltar Software</span></a></li>
            </ul>
            <h1>Silver Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.oreilly.com/" class="logo oreilly-media">O'Reilly Media</a></li>
                <li><a href="http://www.ssware.com/" class="logo logicnp-software">LogicNP Software</a></li>
                <li><a href="http://www.code-magazine.com/" class="logo code-magazine">CODE Magazine</a></li>
                <li><a href="http://huagati.com/"><span class="logo huagati">Huagati</span></a></li>
                <li><a href="http://www.devexpress.com/"><span class="logo devexpress">DevExpress</span></a></li>
                <li><a href="http://www.apress.com/"><span class="logo apress">Apress</span></a></li>
                <li><a href="http://www.competitive.com/"><span class="logo c2">C2</span></a></li>
                <li><a href="http://careers.dealer.com/"><span class="logo dealer-dot-com">Dealer.com</span></a></li>
                <li><a href="http://www.techsmith.com/"><span class="logo techsmith">TechSmith</span></a></li>
                <li><a href="http://www.devteach.com/"><span class="logo devteach2012">DevTeach</span></a></li>
                <li><a href="http://msdn.microsoft.com/en-us/magazine/"><span class="logo msdn-magazine">MSDN Magazine</span></a></li>
                <li>Wally McClure <small>Author &amp Consultant, <br /><a href="http://www.scalabledevelopment.com/">Scalable Development, Inc.</a></small></li>
                <li><a href="http://wrox.com/"><span class="logo wrox">Wrox</span></a></li>
            </ul>
            <h1>Special Thanks</h1>
            <ul class="special-thanks sponsors">
                <li><a href="http://ineta.org/"><span class="logo ineta">INETA</span></a> <small>Thanks to the <a href="http://ineta.org/">INETA Regional Speaker Bureau</a> for making it easier for some of our out-of-town speakers to participate in Vermont Code Camp 2012.</small></li>
            </ul>
        </article>

</article>
